table {
    align-content: center;
    margin: 10px; 
    width: 99%
    // background-color: lightgrey;
}

tr:hover {
    // background-color: #e7e7e7;
    // cursor: pointer;
}

tr.mat-row.ng-star-inserted.row-selected {
    // background-color: var(--secondary-soft);
}

.mat-table tbody,
.mat-table tfoot,
.mat-table thead,
.mat-table-sticky,
[mat-footer-row],
[mat-header-row],
[mat-row],
mat-footer-row,
mat-header-row,
mat-row {
    // background-color: #fafafa;
}

th {
    // background-color: var(--secondary);
    text-align: center !important;
    font-size: medium;
    font-weight: 400;
    color: white;
    background-color: var(--accent);
    z-index: 50;
}

td {
    text-align: center !important;
}

.list-empty {
    text-align: center;
    // color: var(--warn);
}

.coach-row {
    font-weight: bold;
    background-color: var(--accent-light);
}