<div class="container" fxLayout="column" fxLayoutAlign="start center">
    
    <mat-toolbar style="font-size: 19px; color: var(--primary);" fxLayoutAlign="center center" display="block">
        <span>{{title}}</span>
    </mat-toolbar>

    <div *ngIf="dataSource?.data.length > 0; then playersList else noPlayers"></div>
    <ng-template #playersList>
        <table mat-table [dataSource]="dataSource" @todosAnimation class="mat-elevation-z8"
            style="margin: 10px; width: 99%">
            <!-- Position Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Team </th>
                <td mat-cell *matCellDef="let element"> {{element.roles | uppercase }} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef fxHide.lt-sm> Last Name </th>
                <td mat-cell *matCellDef="let element" fxHide.lt-sm> {{element.lastName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone # </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <!-- Symbol Column -->

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon>delete</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="onDelete(element)">delete</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" @todoAnimation
                [class.coach-row]="row.roles === 'coach'"></tr>
        </table>
    </ng-template>

    <ng-template #noPlayers>
        <mat-card class="list-empty" style="margin-top: 20px;">
            This team doesn't have any player yet.</mat-card>
    </ng-template>
</div>