<mat-progress-bar style="position: fixed;" [mode]="progressBarMode" value="0" [style.visibility]="progressBarMode ? 'visible' : 'hidden'">
</mat-progress-bar>
<div class="container-wrapper">
    <app-baseball-guy class="baseball-svg"></app-baseball-guy>

    <mat-card class="mat-custom-authen">
        <!-- <div class="account-icon">
            <mat-icon ria-label="Example account icon" color="primary">account_circle</mat-icon>
        </div> -->
        <!-- <mat-toolbar color="primary">
            <span>Sign In</span>
        </mat-toolbar> -->

        <form [formGroup]="signForm" novalidate (ngSubmit)="onSubmit()">
            <h1>LOGIN </h1>
            <mat-card-subtitle>welcome back </mat-card-subtitle>

            <mat-card-content>
                <mat-form-field class="container">
                    <input type="email" matInput placeholder="Email" formControlName="email" autocomplete="email">
                    <mat-error *ngIf="signForm.controls['email'].hasError('required')">
                        Email <strong>required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="signForm.controls['email'].hasError('invalidEmail') && !signForm.controls['email'].hasError('required')">
                        Not a valid <strong>Email</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="container">
                    <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="new-password">
                    <mat-error *ngIf="signForm.controls['password'].hasError('required')">
                        Password <strong>required</strong>
                    </mat-error>
                    <mat-error
                        *ngIf="signForm.controls['password'].hasError('minlength') && !signForm.controls['email'].hasError('required')">
                        Password should have more than <strong>3 Characters</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>

            <button class="action-button"  mat-flat-button  color="primary" type="submit">Sign In</button>
        </form>
    </mat-card>
</div>

<!-- <img src="assets/images/rectangle.svg" id="footer"> -->