form {
    height: unset;
    margin-top: 10px;
}
.create-event-card {
    padding: 0px 0px 16px 0px;
}

.mat-toolbar {
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

agm-map {
    height: 400px;
}
