<mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Pick Your Favorite Player</mat-label>
    <mat-select  [disabled]="disabled" [(ngModel)]="value" name="playerName" #playerName="ngModel"
        (selectionChange)="selectChange($event)"  [compareWith]="compareFn"  [required]='required'>
        <mat-option *ngFor="let player of players" [value]="player">
            {{player}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="playerName.errors?.required">Please choose a <strong>Player</strong></mat-error>

    <div style="position:relative; top: 8px; height: 2px; overflow: hidden;">
        <mat-progress-bar mode="query" *ngIf="showProgressbar"></mat-progress-bar>
    </div>
</mat-form-field>